@keyframes bar01 {
  0% {
    width: 50px;
  }

  100% {
    width: 100%;
  }
}

@keyframes bar02 {
  0% {
    width: 150px;
  }

  100% {
    width: 100%;
  }
}

@keyframes bar03 {
  25% {
    background-color: yellow;
    width: 75%;
  }

  50% {
    background-color: red;
    width: 200px;
  }

  75% {
    background-color: blue;
    width: 5px;
  }

  /* am duplicat stilizarea la 100%
  ca sa pot folosi cadre de 25% si forwards
  (practic am declarat starea finala -
  aceeasi cu cea din ultimul cadru*/
  100% {
    background-color: blue;
    width: 5px;
  }
}

@keyframes bar04 {
  0% {
    background-color: red;
    width: 100%;
  }

  33% {
    background-color: blue;
    width: 50%;
  }

  66% {
    background-color: black;
  }

  100% {
    background-color: orange;
    width: 150px;
  }
}

@keyframes bar05 {
  0% {
    background-color: green;
    width: 100%;
  }

  33% {
    background-color: red;
    width: 500px;
  }

  66% {
    background-color: green;
    width: 75%;
  }

  100% {
    background-color: orange;
    width: 500px;
  }
}

@keyframes bar06 {
  0% {
    width: 200px;
  }

  100% {
    width: 100%;
  }
}

.bar-01 {
  animation: bar01 10s ease-in forwards;
}

.bar-02 {
  animation: bar02 8s linear forwards;
}

.bar-03 {
  animation: bar03 12s ease-in forwards;
}

.bar-04 {
  animation: bar04 5s ease-out forwards;
}

.bar-05 {
  animation: bar05 8s linear forwards;
}

.bar-06 {
  animation: bar06 4s ease-in forwards;
}
